@import "../../variables";

.questions {
    padding-bottom: 1%;
    .buttonBorder {
        border-color: $dark-blue;
        border-width: 50px;
    }
    .faqButton {
        text-align: left;
    }
    .icon {
        margin-right: 1ch;
    }
}

.answersActive {
    width: 10000px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.content {
    margin: 0;
    padding: 1em;

    text-align: left;
    text-shadow: white;

    color: white;
    font-size: 12px;
}

.transitionStart {
    display: flex;
    background-color: white;
    opacity: 0%;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.transitionEnd {
    display: flex;
    opacity: 100%;
    background-color: rgb(65, 149, 190);
    border-left: 1em white solid;
    border-right: 1em white solid;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
