.about {
    text-align: center;

    .items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        grid-gap: 15px;

        section {
            text-align: center;

            p {
                text-align: justify;
            }
        }
    }
}
