@import '../../variables';


.heading {
    text-align: center;
    color: $dark-blue;
    text-transform: uppercase;
    font-weight: bold;

    .light {
        color: $light-blue;
    }
}

.top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    padding: 10px;

    &::after {
        content: "";
        background-image: url(https://donateable.ca/img/donateABLE-background1.png);
        background-size: cover;
        background-position: center;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .buttonGroup {
        width: 250px;
        display: flex;
        flex-direction: column;
        
        .groupElement {
            box-sizing: border-box;
            width: 100%;
            margin-top: 2px;
            text-transform: uppercase;
        }
    }

    .value {
        padding-left: 2ch;
    }
}

.login {
    display: flex;
    flex-direction: column;
}

:global(.firebaseui-idp-button) {
   font-family: Montserrat;
   height: 60px;
   width: 300px !important;
   max-width: 400px !important;
}

@media screen and (min-width: $bp-sm-min){
    .top{ 
        .buttonGroup {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .groupElement {
                margin-left: 5px;
                max-width: 300px;
                max-height: 47px;
                padding: 5px;
            }
        }
    }
}
