service cloud.firestore {
  match /databases/{database}/documents {  
    function isAdmin() {
      return auth.token.admin == true;
    }

    match /user/{id} {
      allow create, read, update, delete: if request.auth.uid == id;
    }
    
    match /charity/{id} {
      allow read;

      allow write: if isAdmin();
    }
    
    match /charityType/{id} {
      allow read;

      allow write: if isAdmin();
    }
  }
}