service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    match /charity/{charityID} {
      allow read, write;
    }
    match /charity-type/{charityID} {
      allow read, write;
    }
  }
}