@import '../../variables';

.formElement {
    margin-bottom: 5px;
    color: $dark-blue;

    &.white {
        color: $white;
    }

    .title {
        font-size: 0.8em;
        font-weight: bold;
    }

    .input {
        width: 100%;
        border: solid 1px rgba($darker-blue, 0.4);
    }

    textarea {
        resize: none;
        height: 5em;
    }
}