@import '../../variables';

.donate{
    
    .stats{
        display: flex;
        flex-wrap: row;
        align-items: center;
        .section {
            flex-flow: row wrap;
            align-items: center;
            margin: auto;

            .loader {
                margin-right: 2em;
            }

            .content {
                .title {
                    color: $dark-blue;
                    font-weight: bold;
                }

                .value {
                    color: $light-blue;
                }
            }
        }
    }

    .buttons {
        display: flex;
        flex-flow: row wrap;

        .start {
            background-color: $dark-blue;
            color: $white;
            width: 100%;
            height: 50px;
            transition-duration: 0.2s;
            &:hover {
                background-color: $darker-blue;
            }
        }

        .stop {
            background-color: $white;
            color: $dark-blue;
        }

    }

    .MySlider {
        color: $dark-blue;
    }

    .sliderValue {
        text-align: center;
        color: $dark-blue;
    }

    .loading { 
        padding: 10% 10%;
    }

    .MuiSlider-thumb {
        height: 15;
        width: 15;
    }

    .MuiSlider-rail {
        height: 10;
    }

    .MuiSlider-thumb {
        height: 10;
    }


    @media screen and (max-width: $bp-sm-min) {
        flex-direction: row;
    }

    .grid {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}