@import "../../variables";

.donate {
    margin-top: 2.5em;

    .donateHeader {
        color: $light-blue;
    }

    .stats {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .section {
            margin: auto;
            display: flex;
            flex-flow: row wrap;
            width: 200px;
            margin: 10px 0;
            .loader {
                display: flex;
                margin-right: 15px;
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-weight: bold;
                font-size: 1em;
                .title {
                    color: $dark-blue;
                }
                .value {
                    color: $light-blue;
                }
            }
        }
    }

    .logo {
        max-width: 125px !important;
    }

    .modal {
        display: flex;
        font-weight: 700;
        .modalTitle {
            flex: 1;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .modalBody {
            flex: 1;
            font-size: 20;
            font-weight: 100;
        }
    }

    .icon {
        text-align: center;
        color: $white;
    }

    .buttons {
        display: flex;
        flex-flow: row wrap;

        .start {
            background-color: $dark-blue;
            color: $white;
            width: 90%;
            height: 50px;
            transition-duration: 0.2s;
            &:hover {
                background-color: $darker-blue;
            }
        }

        .give {
            width: 8%;
            margin-left: 2%;

            &:hover {
                background-color: $lighter-blue;
            }
        }

        .stop {
            background-color: $white;
            color: $dark-blue;
        }
    }

    .MySlider {
        color: $dark-blue;
        margin-top: 1%;
    }

    .cpuValue {
        text-align: center;
        color: $light-blue;
        font-weight: 700;
        font-size: 2em;
        margin-bottom: 3%;
        .donateIcon {
            color: $dark-blue;
            padding-left: 1%;
        }
    }

    .loading {
        padding: 10% 10%;
    }

    .MuiSlider-thumb {
        height: 15;
        width: 15;
    }

    .MuiSlider-rail {
        height: 10;
    }

    .MuiSlider-thumb {
        height: 10;
    }

    @media screen and (max-width: $bp-sm-min) {
        flex-direction: row;
    }

    .grid {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}
