@import "../../variables";

.tabs {
    .titles {
        $bar-height: 4px;

        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: $bar-height * 2;

        .title {
            display: inline-block;
            text-align: center;
            flex-grow: 1;
            border-bottom: solid $light-blue $bar-height;
            cursor: pointer;
            padding: 5px;

            &.active {
                position: relative;
                $color: $dark-blue;

                border-bottom: solid $color $bar-height;

                &::after {
                    display: block;
                    position: absolute;
                    content: " ";
                    width: $bar-height * 2;
                    height: $bar-height * 2;

                    background: $color;
                    border-bottom: solid $bar-height $color;
                    border-right: solid $bar-height $color;
                    border-top-left-radius: 1000px;

                    transform: translate(-50%, 85%) scaleX(1.6) rotate(45deg);

                    left: 50%;
                    bottom: 0;
                }
            }
        }
    }

    .tabContainer {
        .tab {
            width: 100%;
            height: 100%;
        }
    }
}
