@import "../../variables";

.textBox {
    border: none;
    padding: 2px 10px;

    &.light {
        background-color: $light-blue;
        color: $white;
    }

    &.dark {
        background-color: $dark-blue;
        color: $white;
    }

    &.white {
        background-color: $white;
        color: $light-blue;
    }

    &.small {
        padding: 2px 10px;
    }

    &.medium {
        padding: 10px 30px;
    }

    &.large {
        padding: 10px 30px;
        font-size: 1.5em;
    }
}
