@import "../../variables";

.donateABox {
    user-select: none;

    --border: #{$dark-blue};
    --color: #{$dark-blue};

    .border {
        stroke: $dark-blue;
        stroke: var(--border);
    }

    .char {
        fill: $light-blue;
        fill: var(--color);
    }
}
