@import "../../variables.scss";

$padding: 8px;

.content {
    margin: 0 calc(50vw - #{$bp-lg-min / 2});
    padding: $padding;

    &.noPadding {
        padding: 0 $padding;
    }

    @media screen and (max-width: $bp-lg-min) {
        margin: 0;
    }
}

.fullWidth {
    margin: 0 calc(-1 * (50vw - #{$bp-lg-min / 2 - $padding}));
    padding: 0 calc(50vw - #{$bp-lg-min / 2 - $padding});
}