@import '../../variables';


.heading {
    text-align: center;
    color: $dark-blue;
    text-transform: uppercase;
    font-weight: bold;

    .light {
        color: $light-blue;
    }
}

.top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    padding: 10px;

    &::after {
        content: "";
        background-image: url(https://donateable.ca/img/donateABLE-background1.png);
        background-size: cover;
        background-position: center;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .buttonGroup {
        width: 250px;
        display: inline-block;

        .groupElement {
            box-sizing: border-box;
            width: 100%;
            margin-top: 2px;
            text-transform: uppercase;
        }
    }

    .loginButtonGroup {
        width: 250px;
        display: flex;
        flex-direction: column;
        
        .loginGroupElement {
            box-sizing: border-box;
            width: 100%;
            margin-top: 2px;
            text-transform: uppercase;
        }
    }

    .value {
        padding-left: 2ch;
    }
}

.login {
    display: flex;
    flex-direction: column;
}

:global(.firebaseui-idp-button) {
    font-family: Montserrat;
    height: 60px !important;
    width: 60vw !important;
    min-width: 192px !important;
    max-width: 320px !important;
 }

.charities {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 20px;


    .charity {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 1px 1px 5px rgba(#000, 0.3);

        margin: 0 15px;

        text-transform: uppercase;
        color: $white;

        .logo {
            width: 100%;
            height: 150px;

            object-fit: contain;
        }

        .name {
            color: $light-blue;
            font-weight: bold;
        }

        .type {
            color: $dark-blue;
        }

        .currentlyDonating,
        .donatorsToDate,
        .social,
        .donate {
            width: 100%;
            padding: 5px 0;
        }

        .currentlyDonating {
            background-color: $light-blue;
        }

        .donatorsToDate {
            background-color: $dark-blue;
        }

        .social {
            background-color: $light-blue;
            width: calc(100% + 10px);
            box-shadow: 1px 1px 5px rgba(#000, 0.3);

            .icon {
                padding: 0 5px;
                background: none;
                border: none;
                color: $white;
            }
        }

        a {
            color: inherit;
            text-decoration: none;
            width: 100%;

            .donate {
                background-color: $dark-blue;
                font-size: 1.5em;
                font-weight: bold;
            }
        }

        .category {
            display: flex;
            align-items: center;
            flex-basis: auto;

            &:not(:first-child) {
                padding-top: 5px;
            }

            .iconCircle {
                background-color: $light-blue;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                position: relative;

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .title {
                padding-left: 1ch;
                white-space: nowrap;
            }
        }
    }
}

@media screen and (min-width: $bp-sm-min){
    .top{ 
        .loginButtonGroup {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .loginGroupElement {
                margin-left: 5px;
                max-width: 300px;
                max-height: 47px;
                padding: 5px;
            }
        }
    }
}