@import '../../variables';

$width: 500px;

.modalWrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;

    background: rgba($light-blue, 0.8);
    z-index: 1000;

    .modal {
        position: absolute;
        background-color: $background;
        color: $on-background;
        width: $width;
        max-width: calc(100vw - 15px);

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 40px;

        .modalHeader {}

        .modalBody {}

        .close {
            position: absolute;
            top: 1em;
            right: 1em;
            color: rgba($darker-blue, 0.4);
            cursor: pointer;
            font-size: 1.5em;
        }

        @media screen and (max-width: $width) {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transform: none;
            max-width: 100vw;
        }
    }
}