.form {
    display: grid;

    grid-template-columns: 1fr 1ft;
    grid-column-gap: 8px;
    grid-template-areas:
        "first last"
        "email email"
        "user  user";

    .firstName {
        grid-area: first;
    }

    .lastName {
        grid-area: last;
    }

    .email {
        grid-area: email;
    }

    .user {
        grid-area: user;
    }
}