$darker-blue: hsl(200, 25, 25);
$dark-blue: hsl(200, 53, 32);
$light-blue: hsl(200, 65, 56);
$white: rgba(#fff, 0.9);

// Breakpoints
$bp-sm-min: 576px;
$bp-md-min: 768px;
$bp-lg-min: 992px;
$bp-xl-min: 1200px;

@function sqrt($r) {
    $x0: 1;
    $x1: $x0;

    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }

    @return $x1;
}

@mixin shadow {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}