@import '../../variables';

.header {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 150px 3fr 2fr;
    align-items: center;

    height: 150px;

    background-color: $light-blue;
    color: $white;

    .logo {
        width: 100%;
    }

    .makeDonation {
        width: 100%;
    }

    .info {
        .name {
            margin: 0;
        }

        .tagLine {
            margin-bottom: 1em;
        }
    }
}

.social {
    background-color: $dark-blue;
    color: $white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


    padding-top: 5px;
    padding-bottom: 5px;

    .link {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 1.5em;
            margin-right: 1ch;
        }

        @media screen and (max-width: $bp-sm-min) {
            .title {
                display: none;
            }
        }
    }
}